* {
  box-sizing: border-box;
  background-color: darkgoldenrod;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0c2959;
}

h1 {
  font-size: 45px;
  text-align: center;
  background-color: #f1f7f4;
  padding: 40px;
}

h2 {
  font-size: 30px;
  font-style: italic;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  background-color: #f2f6f4;
  margin-top: -25px;
}

.card__container {
  display: flex;
  margin: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding: 80px;
}
